<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SSEA Reverse Printing</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <img src="@Url.Content("~/Images/SSEA.png")" alt="SSEA" id="ssea" />
        <img src="@Url.Content("~/Images/aub.png")" alt="AUB" id="aub" />
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year - SSEA Reverse Printing Project. American University of Beirut.</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
